:root{
    --background-color: #282828;
    --background-light: #3c3836;
    --text-color: #cfccac;
    --text-color-weak: #9b9874;
    --text-color-alt: #000;

    --color-primary: #d65d0e;
    --color-secondary: #fe8019;
    --color-other: #cc241d;
    --color-shadow: #00000041;
    --color-danger: #9d0006;

    --border-radius-md: 15px;
    --padding-md: 15px;

    --default-gap: 15px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    transition: 0.2s;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    margin: 0px;
    padding: var(--padding-md);
    display: flex;
    align-items: center;
    flex-direction: column;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    margin-top: 0;
}

a {
    text-decoration: underline;
    color: var(--text-color);
}

form {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    gap: 5px;
}

input {
    padding: 10px;
    border-style: solid;
    border-radius: var(--border-radius-md);
}

a.button,button {
	background-color: var(--background-color);
	border: none;
    border-radius: var(--border-radius-md);
	color: var(--text-color);
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
    border-color: var(--color-secondary);
    border-width: 2px;
    border-style: solid;
}

a.button.primary, button.primary {
    background-color: var(--color-primary);
    color: var(--text-color-alt);
}

.card{
    background-color: var(--background-light);
    box-shadow: 0px 0px 15px var(--color-shadow);
    border-radius: var(--border-radius-md);
    padding: var(--padding-md);
    margin: 15px;
    width: 100%;
}

.weak{
    color: var(--text-color-weak);
}

.m-0{
    margin: 0px;
}

.text-center{
    text-align: center;
}

@media screen and (min-width: 800px) {
    .card{
        width: 800px;
    }
    
}